<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 px-5">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">H.A.S.</a>


  <div class="collapse navbar-collapse mx-5" id="navbarTogglerDemo03">
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
      <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/hastakayit">Hasta Kayıt</a></li>
      <li class="nav-item"><a class="nav-link" href="doktorkayit">Doktor Kayıt</a></li>
      <li class="nav-item"><a class="nav-link" href="hastalist">Hasta Listesi</a></li>
      <li class="nav-item"><a class="nav-link" href="doktorlist">Doktor Listesi</a></li>
    </ul>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item mx-1"><a class="btn btn-primary" href="doktorgiris">Doktor Giriş</a></li>
        <li class="nav-item mx-1"><a class="btn btn-outline-primary" href="hastagiris">Hasta Giriş</a></li>
      </ul>
    </div>
  </div>
</nav>