<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Appointment System | Hasta Listesi</title>

    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/navbar') %>
    

    <div class="container mt-5">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Ad</th>
                <th scope="col">Soyad</th>
                <th scope="col">T.C. No</th>
                <th scope="col">Telefon</th>
                <th scope="col">E-mail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Hasta -1</td>
                <td>Hasta -1</td>
                <td>20125679843</td>
                <td>5879622014</td>
                <td>hasta1@gmail.com</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Hasta -2</td>
                <td>Hasta -2</td>
                <td>12345678974</td>
                <td>7894561230</td>
                <td>hasta2@gmail.com</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Hasta -3</td>
                <td>Hasta -3</td>
                <td>10347645780</td>
                <td>5569874023</td>
                <td>hasta3@gmail.com</td>
              </tr>
            </tbody>
          </table>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>